.create-profile h1 {
  text-align: center;
  margin: 6rem 0 2rem;
}

.create-profile__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-profile__form > input[type="file"] {
  margin: 1rem 0 3rem;
}
