.user-profile-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background-color: rgba(255, 166, 0, 0.1);
}

.user-profile {
  display: flex;
  padding: 2.4rem 4.8rem;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.user-profile__avatar {
  width: 10rem;
}

.user-profile__avatar img {
  display: block;
  width: 100%;
  border-radius: 50%;
}

.user-profile__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5rem;
}

.user-profile__text > * {
  margin: 0.5rem;
}

canvas {
  margin: 3rem 0;
}
