* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  color: #333;
  user-select: none;
}

.container {
  width: 95vw;
  margin: 0 auto;
}
